sources/oil/core/plugin_rtd_oil_core/cestino/EE_Signature.dtd

<!ELEMENT DISTRIBUTIONS (DISTRIBUTION)*>

<!ELEMENT DESCRIPTION (#PCDATA)>

<!ELEMENT DISTRIBUTION (DESCRIPTION | OPTION | SYMBOL)*>
<!ATTLIST DISTRIBUTION
	Name CDATA #REQUIRED
	Library CDATA #REQUIRED
>

<!ELEMENT OPTION EMPTY>
<!ATTLIST OPTION
	Name CDATA #REQUIRED
>

<!ELEMENT SYMBOL EMPTY>
<!ATTLIST SYMBOL
	Name CDATA #REQUIRED
	Value CDATA #REQUIRED
>
